.createVideoGame {
  width: 100vw;
  height: 100vh;
  max-height: 850px;
  font-family: "mulish", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  .createVideoGame__container {
    width: 80%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    max-height: 850px;
    overflow: auto;
    display: grid;
    grid-template-rows: 0.2fr 1.3fr;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(14, 57, 167, 0.75);
      border-radius: 20px;
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .createVideogame__title {
      width: 100%;
      height: 80px;
      h1 {
        text-align: center;
        font-weight: bold;
        color: #fff;
      }
    }

    .createVideogame__form {
      display: grid;
      grid-template-rows: 1fr 1fr;
      max-height: 505px;

      .rows {
        padding: 0 13%;
        .createVideogame__form__row {
          width: 90%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 0 auto;
          margin-bottom: 20px;

          .messageInput.error {
            color: red;
          }

          .messageInput {
            position: absolute;
            top: 32px;
            left: 0;
            font-weight: 700;
            font-size: 14px;
            color: #316afe;
          }

          .messageSelect {
            position: absolute;
            top: 10px;
            left: 50px;
            font-weight: 700;
            font-size: 14px;
            color: #316afe;
          }

          .messageSelect.error {
            color: red;
          }

          .container_select-selection {
            width: 100%;
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            p {
              line-height: 0;
              display: flex;
              align-items: center;
              font-size: 12px;
              padding: 5px;
              border: 2px solid #316afe;
              height: 10px;
              border-radius: 5px;
              position: relative;

              button {
                border: none;
                width: 20px;
                font-size: 9px;
                font-weight: 900;
                height: 20px;
                border-radius: 50%;
                background-color: #316afe;
                color: #ffffff;
                cursor: pointer;
                position: absolute;
                top: -10px;
                right: -14px;
              }
            }
          }

          .container_selection {
            width: 330px;
            position: relative;
            margin: 0 10px;
            .h4 {
              font-family: "mulish", sans-serif;
              font-weight: 400;
              font-size: 15px;
              position: absolute;
              color: #ffffff;
              left: -240px;
              right: 0;
              top: 6px;
              transition: all 0.2s ease-in-out;
              z-index: 100;
              cursor: pointer;
            }

            .h4.activate {
              transform: translate(0px, -20px);
              font-size: 12px;
              color: rgb(160, 160, 165);
            }
          }
        }
      }

      .createVideogame__form__button {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .content-button {
          //a and span
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }

        .button {
          margin-top: 15px;
          width: 40%;
          height: 40px;
          border-radius: 10px;
          max-width: 200px;
          margin: 0 10px;
          font-size: 1rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          transition: all 0.3s ease linear;
          cursor: pointer;

          &:focus {
            border: none;
            outline: none;
          }
        }

        .v1 {
          border: 0;
          background: rgb(49, 106, 254);
          background: linear-gradient(
            90deg,
            rgba(49, 106, 254, 1) 0%,
            rgba(14, 57, 167, 1) 58%
          );
        }

        .v2 {
          background: none;
          border: rgb(49, 106, 254) 2px solid;
          &:hover {
            border: 0;
            background: rgb(49, 106, 254);
            background: linear-gradient(
              90deg,
              rgba(49, 106, 254, 1) 0%,
              rgba(14, 57, 167, 1) 58%
            );
          }
        }
      }
    }
  }
}
