.container_textField {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  font-family: "mulish", sans-serif;
  margin: 25px 0;

  .label {
    color: #ffffff;
    top: 12px;
    left: 15px;
    position: absolute;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    cursor: text;
    z-index: -20;
  }

  .textField {
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    transition: 0.2s ease-in-out;
    z-index: 1;
    &:focus {
      border: none;
      outline: none;
      border: 2px solid rgb(49, 106, 254);
    }
  }

  .input {
    height: 45px;
  }

  .textArea {
    padding: 5px 15px;
    height: 120px;
    resize: none;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(14, 57, 167, 0.75);
      border-radius: 20px;
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .label.active {
    transform: translate(0px, -35px);
    font-size: 14px;
    color: rgb(189, 189, 189);
  }
}
