.videogame{
    width: 100vw;
    height:100vh;
    position: relative;
    color :#ffffff;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    padding: 0 3.5%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(49,106,254,0) 80%);
    // transition: all 1s ease-in-out;
    .videogame__backHome{
        a{
            width:200px;
            height:50px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            left: 10px;
            z-index: 2;
            text-decoration: none;
            p{
                font-size: 4rem;
                line-height:0;
                margin:0;
                margin-bottom: 7%;
                color:rgb(49,106,254);
                transition: all 0.3s ease-in-out;
                text-shadow: 2px 2px 0 rgba(0,0,0,1), 2px -2px 0 rgba(0,0,0,1), -2px 2px 0 rgba(0,0,0,1), -2px -2px 0 rgba(0,0,0,1), 2px 0px 0 rgba(0,0,0,1), 0px 2px 0 rgba(0,0,0,1), -2px 0px 0 rgba(0,0,0,1), 0px -2px 0 rgba(0,0,0,1);

            }
            span{
                margin:0;
                font-size: 1rem;
                font-family: 'mulish', sans-serif;
                font-weight: 800;
                color:#ffffff;
                transition: all 0.3s ease-in-out;
                text-shadow: 0px 0px 8px  rgba(0,0,0,1);

            }
            &:hover{
                p{
                    color:rgb(255,255,255);
                    transform: translateX(-10px);
                    background: #FFFFFF;
                    text-shadow: 2px 2px 0 rgba(0,0,0,1), 2px -2px 0 rgba(0,0,0,1), -2px 2px 0 rgba(0,0,0,1), -2px -2px 0 rgba(0,0,0,1), 2px 0px 0 rgba(0,0,0,1), 0px 2px 0 rgba(0,0,0,1), -2px 0px 0 rgba(0,0,0,1), 0px -2px 0 rgba(0,0,0,1);
                }
                span{
                    transform: translateX(-10px);
                }
            }
        }
    }
    .videogame__image{
        width: 94%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
        }
    }
    .videogame__descriptionPart1{
        width: 42%;
        height: 45%;
        z-index: 1;
        min-height: 290px;
        .videogame__descriptionPart1_title{
            width: 100%;
            // display: flex;
            // flex-wrap: wrap;
            // align-items: flex-start;
            color: #ffffff;
            height: 3rem;
            
            p{
                font-size: 2rem;
                text-align: left;
                font-family: arial, sans-serif;
                font-weight: lighter;
                text-shadow: 0 0 10px #000000;
                line-height: 1.5;
                
            }
        }
        .videogame__descriptionPart1_released{
            width: 100%;
            text-align: left;
            height: 2rem;
            
            h3{
                font-size: 1em;
                font-weight: 400;
                color: #ffffff;
                text-shadow: 0 0 10px #000000;
                
            }
        }
        .videogame__descriptionPart1_rating{
            width: 100%;
            text-align: left;
            height: 2rem;
            
            h3{
                font-size: 1em;
                font-weight: 400;
                color: #ffffff;
                text-shadow: 0 0 10px #000000;
                margin: 0 0;
                
            }
        }
        .videogame__descriptionPart1_genres{
            width: 50%;
            
            h3{
                text-align: center;
                font-size: 1em;
                font-weight: 600;
                color: #ffffff;
                text-shadow: 0 0 10px #000000;
                margin: 10px 0;
                

            }

            .videogame__descriptionPart1_genre-list{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                margin: 0;
                padding: 0;
                li{
                    font-size: 0.8rem;
                    padding: 2px 10px;
                    display: inline-block;
                    margin: 0 5px 10px 5px;
                    list-style: none;
                    border-radius: 5px;
                    border : 2px solid #0a3cbd;
                }
            }
        }
    }
    .videogame__descriptionPart2{
        width: 52%;
        height: 45%;
        z-index: 1;
        min-height: 290px;

        .videogame__descriptionPart2_description{
            width: 100%;
            height: 40%;
            color: #ffffff;
            display: flex;
            justify-content:space-around;
            text-align: left;
            padding-top: 20px;
            transition: all 0.3s ease-in-out;

            h3{
                font-size: 1rem;
                font-weight: 600;
                margin: 0 0 0 5px;
                padding: 0;
            }

            .videogame__descriptionPart2_decription-paragraph{
                width: 85%;
                height: 55%;

                div{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &::-webkit-scrollbar{
                        -webkit-appearance: none;
                    }
                    &::-webkit-scrollbar:vertical{
                        width:10px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: rgba(14,57,167,0.75);
                        border-radius: 20px;
                        border: 2px solid rgba(0,0,0,0.3);
                    }
                    &::-webkit-scrollbar-track{
                        background: transparent;
                    }

                    p{
                        margin: 0;
                        padding: 0;
                        margin-bottom: 10px;
                        width: 100%;
                        height: 150px;
                        font-size: 1rem;
                        line-height: 1.5;
                        font-family: 'mulish', sans-serif;
                        font-weight: 400;
                    }
                }

                button{
                    background: none;
                    border: none;
                    color: white;
                    opacity: 1;
                    margin: 5px 0 0 0;
                    padding: 0;
                    text-decoration: underline;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }

            
        }
        .videogame__descriptionPart2_plataform{
            width: 100%;
            height: 50%;
            padding: 0;
            margin: 1% 0;
            h3{
                font-size: 1rem;
                font-weight: 600;
                margin: 0px 0 10px 0;
                padding: 0;
                font-family: 'mulish', sans-serif;
            }
            .videogame__descriptionPart2_plataform-icons{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: flex-start;
                margin: 0;
                overflow-y: auto;
                padding: 0;
                &::-webkit-scrollbar{
                    -webkit-appearance: none;
                }
                &::-webkit-scrollbar:vertical{
                    width:10px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: rgba(14,57,167,0.75);
                    border-radius: 20px;
                    border: 2px solid rgba(0,0,0,0.3);
                }
                &::-webkit-scrollbar-track{
                    background: transparent;
                }
            } 
        }
        .videogame__descriptionPart2_description.see{
            height:145%;
            .videogame__descriptionPart2_decription-paragraph{
                div{
                    overflow:auto;
                }
            }
        }
    }
}

.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1235px){
    .videogame__descriptionPart2{
        .videogame__descriptionPart2_description{

            h3{
                display: none;
            }
        }
    }
    .videogame__descriptionPart2_plataform-icons{
        margin-bottom: 50px;
    }
}
@media (max-width:900px){
    .videogame__descriptionPart1{
        .videogame__descriptionPart1_title{
            height: 5rem !important;
        }
    }
}

@media (max-width: 520px){
    
    .videogame__descriptionPart1{
        margin-bottom: 30px;
        .videogame__descriptionPart1_title{
            height: 6rem !important;
        }
    }
    .videogame__descriptionPart2{
        margin-bottom: 30px;
        .videogame__descriptionPart2_description{

            h3{
                display: none;
            }
        }
    }
}

@media (max-width: 520px){
    .videogame__descriptionPart1{
        .videogame__descriptionPart1_title{
            height: 9rem !important;
        }
    }
}
