.videoGameCard{
    width: 32%;
    margin: 10px 0;
    height: 185px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(49,106,254,0) 70%); 
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    font-family: 'mulish', sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.68);
-webkit-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.68);
-moz-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.68);

    .videoGameCard__title{
        width: 100%;
        height: 2%;
        display: flex;
        justify-content: flex-start;
        padding: 0 10px;
        margin-top: 30px;
        z-index: 2;
        h3{
            color:white;
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    .videoGameCard__genres{
        width: 100%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 10px;
        color: white;
        font-size: 0.8rem;
        padding: 0 10px;
        z-index: 2;

        p{
            margin: 0 5px;
            font-weight: 300;
            font-size: 15px;
        }
    }

    .videoGameCard__image{
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transform: scale(1.3);
            transition: 0.5s ease-in-out;
        }
    }

    &:hover{
        .videoGameCard__image{
            img{
                transform: scale(1);
            }

        }
    }
}