@font-face {
    font-family: "counter-strike";
    src: local("MyFont"), url(../../assets/fonts/cs_regular.ttf) format("woff");
  }
  
  .header {
    width: 65%;
    height: 95%;
    max-height: 700px;
    min-width: 265px;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(126, 126, 126, 0.3);
    .header__container_logo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .header__logo {
        z-index: 9999;
        width: 230px;
        height: 45px;
        background-color: #316afe;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  
        .header__logo-borde {
          width: 100%;
          height: 96%;
          margin-bottom: 4px;
          background-color: rgb(0, 0, 0);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          display: flex;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 1.4rem;
            color: #ffffff;
            font-weight: 100;
            margin-top: 22px;
            font-family: "counter-strike";
          }
        }
      }
    }
  
    .header__image {
      width: 230px;
      height: 230px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 15%;
      position: relative;
  
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
      }
      p {
        font-size: 2rem;
        color: #ffffff;
        font-weight: 400;
        margin-top: 20px;
        font-family: "counter-strike";
        line-height: 0;
        transition: all 0.3s ease;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
      }
  
      .header__image:active {
        img:active {
          transform: scale(0.88);
        }
        p:active {
          transform: translateY(-22px);
        }
      }
    }
  
    .header__formSearch {
      width: 220px;
      margin: 0 AUTO;
  
      form {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        font-family: "mulish", sans-serif;
  
        .label {
          color: #ffffff;
          top: 12px;
          left: 15px;
          position: absolute;
          transition: 0.3s ease-in-out;
          background-color: transparent;
          cursor: text;
          z-index: -20;
        }
        input {
          width: 100%;
          height: 45px;
          border-radius: 10px;
          padding: 0 15px;
          border: none;
          font-size: 1rem;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.2);
          outline: none;
          transition: 0.2s ease-in-out;
          z-index: 1;
          &:focus {
            border: none;
            outline: none;
            border: 2px solid rgb(49, 106, 254);
          }
          &::placeholder{
            opacity: 0;
          }
        }
  
        button:active {
          opacity: 0.8;
          transition: 0.2s ease-in-out;
          transform: scale(0.95);
        }
  
        button {
          margin-top: 15px;
          width: 100%;
          height: 60px;
          border-radius: 10px;
          padding: 0 20px;
          cursor: pointer;
          border: none;
          font-size: 1rem;
          color: #ffffff;
          background: rgb(49, 106, 254);
          background: linear-gradient(
            90deg,
            rgba(49, 106, 254, 1) 0%,
            rgba(14, 57, 167, 1) 58%
          );
          box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
          -webkit-box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
          -moz-box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
          outline: none;
          transition: 0.3s ease linear;
          &:focus {
            border: none;
            outline: none;
          }
        }
        .label.active {
          transform: translate(0px, -30px);
          font-size: 14px;
          color: rgb(189, 189, 189);
        }
  
        a {
          color: #ffffff;
          margin-top: 10%;
          font-family: "mulish",sans-serif;
          line-height: 0;
          transition: all 0.3s ease;
          text-decoration: none;
          display: flex;
          align-items: center;
  
          span{
            font-size: 1.5rem;
            margin-right: 10px;
            font-family: "counter-strike";
            display: flex;
            height: 4px;
            width: 20px;
            align-items: flex-end;
            transition: all 0.3s ease;
          }
          &:hover{
            transform: scale(1.05);
            p{
              text-decoration: underline;
            }
            span{
              transform: scale(1.05);
            }
          }
        }
      }
    }
  
    .header__autorCreated {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 50px;
      position: absolute;
      bottom: 1%;
      left: 0;
      right: 0;
  
      p {
        font-size: 13px;
        font-family: "mulish", sans-serif;
        color: #ffffff;
      }
    }
  }

  @media (max-width: 920px){
    .header{
      width: 100%;
      position: relative;
      display: flex;
      height: 100px;
      padding: 10px 10px;
      max-height: 80px;
      min-height: 110px;
      .header__container_logo{
        width:200px;
      }
      .header__image{
        display: none !important; 
      }
      .header__formSearch{
        width: 100%;
        form{
          width: 100%;
          flex-wrap: nowrap ;
          align-items: end;
          input{
            height:  35px ;
            width: 50vw ;
          }
          button{
            width: 18vw ;
            height: 35px ;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
          }
          label{
            display: none ;
          }
        }
      }
      a{
        position: absolute;
        top: 30px;
        right: 8px;
        font-size: 2rem;
      }
      .header__autorCreated{
        display: none ;
      }
    }
    
  }

  // @media (max-width: 400px){
  //   .header{
  //     .header__container_logo{
  //       width:35vw;
  //       h2{
  //         font-size: 1.5rem !important;
  //       }
  //     }
  //     .header__formSearch{

  //       form{
  //         input{
  //           height:  35px !important;
  //           width: 45vw !important;
  //         }
  //         button{
  //           display: none;
  //         }
  //     }
  //     }
  //   }
// }

@media (min-width: 920px){
  .header{
    a{
      top:7px;
    }
  }
}
  