@font-face {
  font-family: "counter-strike";
  src: local("MyFont"), url(../../assets/fonts/cs_regular.ttf) format("woff");
}

.header {
  width: 65%;
  height: 95%;
  max-height: 700px;
  min-width: 265px;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(126, 126, 126, 0.3);
  .header__container_logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .header__logo {
      z-index: 9999;
      width: 230px;
      height: 45px;
      background-color: #316afe;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);

      .header__logo-borde {
        width: 100%;
        height: 96%;
        margin-bottom: 4px;
        background-color: rgb(0, 0, 0);
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 1.4rem;
          color: #ffffff;
          font-weight: 100;
          margin-top: 22px;
          font-family: "counter-strike";
        }
      }
    }
  }

  .header__image {
    width: 230px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15%;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      transition: all 0.3s ease;
    }
    p{
      font-size: 1.5rem;
      color: #ffffff;
      font-weight: 400;
      margin-top: 20px;
      font-family:'counter-strike';
      line-height: 0;
      transition: all 0.3s ease;
    }

    &:hover{
      img{
        transform: scale(0.9);
      }
      p{
        transform: translateY(-20px);
      }
    }
  }

  .header__formSearch {
    width: 220px;
    margin: 0 AUTO;

    form {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
      font-family: "mulish", sans-serif;

      .label {
        color: #ffffff;
        top: 12px;
        left: 15px;
        position: absolute;
        transition: 0.3s ease-in-out;
        background-color: transparent;
        cursor: text;
        z-index: -20;
      }
      input {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        padding: 0 15px;
        border: none;
        font-size: 1rem;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.2);
        outline: none;
        transition: 0.2s ease-in-out;
        z-index: 1;
        &:focus {
          border: none;
          outline: none;
          border: 2px solid rgb(49, 106, 254);
        }
      }

      button:active {
        opacity: 0.8;
        transition: 0.2s ease-in-out;
        transform: scale(0.95);
      }

      button {
        margin-top: 15px;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        padding: 0 20px;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        color: #ffffff;
        background: rgb(49, 106, 254);
        background: linear-gradient(
          90deg,
          rgba(49, 106, 254, 1) 0%,
          rgba(14, 57, 167, 1) 58%
        );
        box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
        -webkit-box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
        -moz-box-shadow: 0px 8px 10px -3px rgba(14, 57, 167, 0.75);
        outline: none;
        transition: 0.3s ease linear;
        &:focus {
          border: none;
          outline: none;
        }
      }
      .label.active {
        transform: translate(0px, -30px);
        font-size: 14px;
        color: rgb(189, 189, 189);
      }
    }
  }

  .header__autorCreated {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;

    p {
      font-size: 13px;
      font-family: "mulish", sans-serif;
      color: #ffffff;
    }
  }
}

