.conatinerIcon{
    .icon{
        width: 40px;
        height: auto;
        margin: 10px 30px 8px 30px;
    }
    h3{
        font-family: 'mulish', sans-serif;
        font-size: 12px;
        font-weight: 200;

    }
}