.videogameList {
  width: 95%;
  backdrop-filter: blur(3px);
  background-color: rgba(126, 126, 126, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
  margin-top: 1vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 10px;
  position: relative;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(14, 57, 167, 0.75);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  .videogameList_notFound {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 10%;
      height: auto;
      object-fit: cover;
      position: absolute;
      top: 15%;
    }
    p {
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      color: #fff;
      margin: 0 auto;
      padding: 0;
    }
  }
}
