.videogameList{
    max-width: 1500px;
    width: 95%;
    backdrop-filter: blur(3px);
    background-color: rgba(126, 126, 126, 0.3);
    overflow-x: hidden;
    overflow-y:auto;
    height: 85vh;
    margin-top: 1vh;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 10px;
    &::-webkit-scrollbar{
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical{
        width:10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(14,57,167,0.75);
        border-radius: 20px;
        border: 2px solid rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
}